
@{
    ViewBag.Title = "advSearchModal";
}

<!--Advanced Search Modal-->
<div class="modal fade" id="advSearchModal">
    <div class="= modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Advanced Search</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <!--Keyword input-->
                    <div class="form-group">
                        <label for="keyword">Keyword</label>
                        <input type="text" class="form-control" placeholder="Search keyword" id="keyword" />
                    </div>
                    <!--Diet input-->
                    <div class="form-group">
                        <label for="diet">Diet</label>
                        <select class="form-control" id="diet">
                            <option selected value="none">None</option>
                            <option value="balanced">Balanced</option>
                            <option value="highFiber">High-Fiber</option>
                            <option value="lowCarb">Low-Carb</option>
                            <option value="vegan">Vegan</option>
                            <option value="keto">Keto</option>
                            <option value="lactoseFree">Lactose-Free</option>
                            <option value="kosher">Kosher</option>
                            <option value="glutenFree">Gluten-Free</option>
                            <option value="paleo">Paleo</option>
                        </select>
                    </div>

                    <!--Main Ingriedient Input-->
                    <div class="form-group">
                        <label for="mainIngredient">Main Ingredient</label>
                        <select class="form-control" id="mainIngredient">
                            <option selected value="none">None</option>

                        </select>
                    </div>

                    <div class="container" style="padding: 0">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <!--Calories Input-->
                                <label for="calories">Calories</label>
                                <div class="input-group" id="calories">
                                    <input type="text" class="form-control" placeholder="Min" />
                                    <span class="input-group-text">-</span>
                                    <input type="text" class="form-control" placeholder="Max" />
                                </div>
                            </div>

                            <!--Protein Input-->
                            <div class="col-lg-6">
                                <label for="protein">Protein</label>
                                <div class="input-group" id="protein">
                                    <input type="text" class="form-control" placeholder="Min" pattern="[0-9]" />
                                    <span class="input-group-text">-</span>
                                    <input type="text" class="form-control" placeholder="Max" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="container" style="padding: 0">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <!--Fat Count Input-->
                                <label for="fatCount">Fat Count</label>
                                <div class="input-group" id="fatCount">
                                    <input type="text" class="form-control" placeholder="Min" />
                                    <span class="input-group-text">-</span>
                                    <input type="text" class="form-control" placeholder="Max" />
                                </div>
                            </div>

                            <!--Carbohydrates Input-->
                            <div class="col-lg-6">
                                <label for="carbohydrates">Carbohydrates</label>
                                <div class="input-group" id="protein">
                                    <input type="text" class="form-control" placeholder="Min" />
                                    <span class="input-group-text">-</span>
                                    <input type="text" class="form-control" placeholder="Max" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <!--Submit button-->
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary" style="background-color: rgb(238, 75, 18)">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

