@model Overflow.Models.Login

@{
    ViewBag.Title = "Home";
}
<link rel="stylesheet"
      href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet"
      href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<script type="text/javascript"
        src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
@try
{
    if (Model.LoginFlag == true)
    {
        <script type="text/javascript">
            $(window).on('load', function () {
                $('#loginErrorModal').modal('show');
        </script>
    }
}
catch (NullReferenceException error)
{
}
<body>
    <div class="row h-100 justify-content-center align-items-center text-center">
        <div class="col-lg-12">
            <div class="form-group">
                <img src="~/Content/landingLogo.png" style="width: 30%" />
            </div>
            <div class="form-group">
                <h2>Save more. Eat more.</h2>
            </div>
            <div class="form-group" data-toggle="modal" data-target="#signUpModal">
                <button class="btn btn-orange m-2 w-25" style="background-color: rgb(238, 75, 18)">Sign Up</button>
            </div>
            <div class="form-group">
                <button class="btn btn-orange m-2 w-25" style="background-color: rgb(238, 75, 18)" data-toggle="modal" data-target="#logInModal">Log In</button>
            </div>
        </div>
    </div>
    @if (Model.LoginFlag == true)
    {
        <script>
            $(window).on('load', function () {
                $('#loginModal').modal('show');
            })
        </script>
    }
    <!--Sign up modal-->
    @Html.Partial("~/Views/Shared/loginModal.cshtml")
    <!--Log in modal-->
    @Html.Partial("~/Views/Shared/signupModal.cshtml")
</body>
