@model Overflow.Models.RecipeContainer
@{
    ViewBag.Title = "recipes";
}

<script type="text/javascript">
    let recipes = JSON.parse('@Html.Raw(Json.Encode(@Model.RecipeContainerListContainerofLists))');
    let pageNumber = 1;
    function start() {
        recipes.sort(function (a, b) { return b.MatchPercent - a.MatchPercent });

        printRecipes(1, recipes);
    }

    function printRecipes(pageNum, recipeList) {
        document.getElementById("recipes").innerHTML = "";
        for (let i = (pageNum - 1) * 10; i < (pageNum * 10); i++) {
            document.getElementById("recipes").innerHTML += "<div style='width:80%; margin-left: auto; margin-right: auto'><a href = '" + recipeList[i].RecipeURL + "' target='_blank'><button style='border-radius: 10px; width: 100%'><img src='" + recipeList[i].ImageURL + "' style='width: 15%; float: left; margin: 10px; border-radius: 20px' /><div style='float: left; text-align: left'><h3>" + recipeList[i].RecipeLabel + "</h3><h5>Source: " + recipeList[i].Source + "</h5></div><h1 style='float: right'>" + recipeList[i].MatchPercent + "%</h1></button></a></div>";
        }
        if (pageNum == 1) {
            document.getElementById("prev").className = "page-item disabled";
        }
        else if (pageNum == 10) {
            document.getElementById("next").className = "page-item disabled";
        }
        else {
            document.getElementById("prev").className = "page-item";
            document.getElementById("next").className = "page-item";
        }
    }

    window.addEventListener("load", start, "false");
</script>
<style>
    img {
        max-width: 100%;
        max-height: 100%;
    }

    .square {
        height: 75px;
        width: 75px;
    }
</style>

<body>
    <h1>Recipes</h1>
    <div id="recipes"></div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled" id="prev">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true" onclick="pageNumber--; printRecipes(pageNumber, recipes)">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#" onclick="pageNumber = 1; printRecipes(pageNumber, recipes)">1</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="pageNumber = 2; printRecipes(pageNumber, recipes)">2</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="pageNumber = 3; printRecipes(pageNumber, recipes)">3</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="pageNumber = 4; printRecipes(pageNumber, recipes)">4</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="pageNumber = 5; printRecipes(pageNumber, recipes)">5</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="pageNumber = 6; printRecipes(pageNumber, recipes)">6</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="pageNumber = 7; printRecipes(pageNumber, recipes)">7</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="pageNumber = 8; printRecipes(pageNumber, recipes)">8</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="pageNumber = 9; printRecipes(pageNumber, recipes)">9</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="pageNumber = 10; printRecipes(pageNumber, recipes)">10</a></li>
            <li class="page-item" id="next">
                <a class="page-link" href="#" onclick="pageNumber++; printRecipes(pageNumber, recipes)">Next</a>
            </li>
        </ul>
    </nav>
</body>





